body {
  background-color: grey;

}
input {
  width: 200px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recipes {
  border: 1px grey solid;
  padding: 10px;
  width: 250px;
  height: 300px;
  margin-top: 40px;
  background-color: blue;

}
img {
  width: 200px;
  height: 200px;
}
a {
  color: white;
}
